.wrapper{
  display: flex;
}

.side-bar{
  width: 300px;
  height: 100ï¼…;
  &__top{
    height: 100px;
    padding: 0 20px;
    background-color: #253141;
    &__username{
      height: 50px;
      line-height: 50px;
      color: #ffffff;
    }
    &__box{
      height: 50px;
      line-height: 50px;
      display: flex;
      align-items: center;
      &__create{
        color: #ffffff;
      }
      &__login_logout{
        margin-left: 20px;
        color: #ffffff;
      }
    }
  }
  &__list{
    height: calc(100vh - 100px);
    background-color: #2F3E51;
    padding: 20px 20px 0 20px;
    &__item{
      height: 50px;
      color: #ffffff;
    }
  }
}

.main{
  width: calc(100% - 300px);
  &__top{
    width: 100%;
    height: 100px;
    padding: 0 20px;
    background-color: #FAFAFA;
    &__company_name{
      height: 50px;
      line-height: 50px;
    }
    &__box{
      height: 50px;
      line-height: 50px;
      display: flex;
      &__create{
        
      }
      &__index{
        margin-left: 20px;
      }
    }
  }
  &__contents{
    width: 100%;
    height: calc(100vh - 100px);
    padding: 20px 20px 20px 20px;
    background-color: #ffffff;
    white-space:nowrap;
    overflow: scroll;
    &__nav{
      height: 20px;
      line-height: 20px;
      margin-bottom: 20px;
      display: flex;
      align-items: center;
      &__link{
        margin-right: 20px;
        border: solid #38aef0 1px;
        color: #38aef0;
        padding: 5px;
      }
    }
    &__table{
      width: 100%;
      &__head{
        height: 50px;
        &__cell{
          height: 50px;
          background-color: #f9f7f4;
          border-bottom: 1px solid #E4E0D7;
          padding-left: 20px;
          width: 150px;
          position: -webkit-sticky;
          position: sticky;
          top: 0;
        }
      }
      &__record{
        height: 50px;
        border-bottom: 1px solid #E4E0D7;
        &--detail{
          height: 30px;
          border-bottom: 1px solid #E4E0D7;
        }
        &__cell{
          padding-left: 20px;
          width: 150px;
          &--button{
            color: #38aef0;
            font-size: 16px;
            text-align: center;
          }
          &--sticky{
            padding-left: 20px;
            width: 150px;
            position: -webkit-sticky;
            position: sticky;
            left: 0;
            background-color: #f9f7f4;
          }
          &--detail{
            padding-left: 20px;
            width: 150px;
            background-color: #f9f7f4;
            &--sticky{
              padding-left: 30px;
              width: 150px;
              position: -webkit-sticky;
              position: sticky;
              left: 0;
              background-color: #f9f7f4;
            }
          }
        }
        &--total{
          height: 50px;
          background-color: #f9f7f4;
        }
      }
    }
  }

}